@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 3rem;
}
.list{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    gap: 2.5rem;
}